@page "/OscypekDetails/{id:int}"
@inject IOscypekRepository _MockOscypekRepository
<h2>@oscypek.Name</h2>

<div class="thumbnail">
    <img alt="@oscypek.Name" src="@oscypek.ImagePath" />
    <div class="caption-full">
        <h3 class="pull-right">@oscypek.Price</h3>
        <h3><a href="#">@oscypek.Name</a></h3>
        <h4>@oscypek.Description</h4>
       
        @*<div class="addToCart">
            <p class="button">
                <a class="btn btn-primary" asp-controller="ShoppingCart" asp-action="AddToShoppingCart" asp-route-pieId="@Model.PieId">Add to cart</a>
            </p>
        </div>*@
    </div>
</div>

@code {
    [Parameter]
    public int Id { get; set; }

    Oscypki oscypek;

    protected override async Task OnInitializedAsync()
    {
        oscypek = _MockOscypekRepository.GetOscypekById(Id);
    }

}
